# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.env
*.venv
venv/
ENV/
env/
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
*.coverage
media/
staticfiles/

# VS Code / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Flutter / Dart
.flutter-plugins
.packages
.pub-cache/
build/